/* PC */
@media (max-width: 64em){
}
/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .place-buy-btn{
        padding: 18px 16px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    .contact-info{
        line-height: 2;
    }
    #footer .socials-list {
        font-size: 38px;
    }
    #footer .socials-list a {
        margin: 0 8px;
    }
    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
    .blink {
        width: 1000px;
        max-width: 97%;
        padding: 9px 0px 75px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -132px;
    }
    #content .member-img {
        margin-top: 15px;
        width: 158px;
        height: 243px;
        border-radius: 22px;
        /* border: 5px solid #FF69B4; */
    }
}   
/* Mobile */
@media (max-width: 46.1875em){
    .s-full-with{
        width: 100%;
    }
    .s-col-full{
        width: 100%;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    #header{
        overflow: hidden;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav{
        display: block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav > li{
        display: block;
    }   
    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    .slider{
        margin-top: 46px;  
        padding-top: 80%; 
    }
    .slider .text-heading{
        font-size: 24px;
    }
    .slider .text-description{
        font-size: 15px;
    }
    #content .blackpink-member{
        margin-top: 30px;
        width: 100%;
    }

    #content .member-name {
        font-size: 18px;
    }
    #content .member-img{
        width: 60%;
        height: 360px;
    }
    .s-col-full{
        width: 100%;
    }
    .contact-form{
        margin-top: 32px;
    }
    .contact-info{
        line-height: 2;
    }
    #footer .copyright  {
        padding: 12px 0;
    }
    #footer .socials-list a {
        margin: 0 6px;
    }
    .s-full-with-name {
        width: 61%;
        color: #fff;
        background-color: #000;
        text-decoration: none;
         /*bo dau gach chan */
         padding: 11px 16px;
         display: inline-block;
         margin-top: 15px;
         border-radius: 9px;
    }
    .s-full-with-name:hover{
        color: #000;
        background-color: #FF69B4;
    }

    /* Jennie */

    .member-body{
        padding-bottom: 41px;
    }
    .member-header{
        height: 113px;
        font-size: 21px;
        letter-spacing: 3.5px;
    }
    .list-img{
        width: 137px;
        margin-top: 35px;
        margin-left: 23px;
    }
    #me{
        margin-top: -203px;
        margin-left: 192px;
        font-size: 12px;
    }

    /* Rose */

    .mb-body{
        padding-bottom: 41px;
    }
    .mb-header{
        height: 113px;
        font-size: 21px;
        letter-spacing: 3.5px;
    }
    .list-img{
        width: 137px;
        margin-top: 35px;
        margin-left: 23px;
    }
    #rose{
        margin-top: -191px;
        margin-left: 191px;
        font-size: 12px;
    }

    /* Lisa */

    .ls-body{
        padding-bottom: 41px;
    }
    .ls-header{
        height: 113px;
        font-size: 21px;
        letter-spacing: 3.5px;
    }
    .list-img-ls{
        width: 137px;
        margin-top: 34px;
        margin-left: 21px;
    }
    #lisa{
        margin-top: -218px;
        margin-left: 191px;
        font-size: 12px;
    }

    /* Jisoo */

    .kj-body{
        padding-bottom: 46px;
    }
    .kj-header{
        height: 113px;
        font-size: 21px;
        letter-spacing: 3.5px;
    }
    .list-img-kj{
        width: 137px;
        margin-top: 34px;
        margin-left: 21px;
    }
    #jisoo{
        margin-top: -196px;
        margin-left: 189px;
        font-size: 12px;
    }

}
